.side-nav {



  background: #0F3B5F; /*#3d72b4;*/ /* fallback for old browsers */
/*  background: -webkit-linear-gradient(to left, #e2e0e0 , #3d72b4);*/ /* Chrome 10-25, Safari 5.1-6 */
/*  background: linear-gradient(to left, #e2e0e0 , #3d72b4);*/ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;

}

.side-nav a {
  color: #fff;
}

.per-det {
  margin-top: -2px;
  padding-bottom: 0px;
}

.per-det i {
  color: #64b3f4;
}

.device-reading {
  height: 251px !important;
  overflow-y: scroll;
}

.online-device {
  color: green;
}

.header-wrap {
  padding-top: 21px;
}

.nav-wrapper {
  position: relative;
  background:#FF9900; /* fallback for old browsers */
  height: 100%;
  color: black !important;
}

nav .nav-wrapper {
  position: relative;
  height: 100%;
}

.main-wrapper {
  padding-top: 35px !important;
}

@media only screen and (max-width : 992px) {
  .nav-wrapper {
    width: 100%;
    text-align: center;
  }

  header, main{
    padding-left: 0px !important;
  }
}

@media screen and (max-width: 460px){
  nav.top-nav a.page-title {
    font-size: 15px !important;
/*    padding-right: 10px !important;*/
  }
}

#data-analysis, #reports-page, #regression-page, #river-discharge-machine-page{
  display: none;
}

.top-nav {
  height: 122px;
  background:#FF9900; /* fallback for old browsers */  
}

nav.top-nav a.page-title {
    line-height: 122px;
    font-size: 48px;
}

header, main{
  padding-left: 300px;
}

a.button-collapse.full {
    line-height: 122px;
}

a.button-collapse {
    position: absolute;
    text-align: center;
    height: 48px;
    width: 48px;
    left: 7.5%;
    top: 0;
    float: none;
    margin-left: 1.5rem;
    color: #fff;
    font-size: 36px;
    z-index: 2;
}

#error-tag-regression {
  color: #ee6e73;
}

.error-tag, .error-tag-river, .error-tag-river-cons {
  color: #ee6e73;
  display: none;
}

#dashboard-plot {
  width: 100%;
}

#login{
  width: 500px;
  position: absolute;
  padding-top: 5%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

#login-body {
  background-image: url("../img/bglogin.jpg");
  background-repeat: no-repeat;
}

.page-footer {
  width: 100%;
  position: absolute;
  right: 0;
  left: 0;
  padding-top: 100px;
  bottom: 0;
  background: #0F3B5F !important;
  text-align: center;
  color: #fff;
  opacity: 0.5;
}


#login-btn {
  display: none;
}

#error-login, #success-login{
  display: none;
}

#error-login {
  color: #ef5350;
  font-size: 20px;
}

#success-login {
  color: #81c784;
  font-size: 20px;
}

.bord-right {
  border-right: 1px solid #BBB;
}

.bord-top {
  border-top: 1px solid #BBB;
  margin-bottom: -19px;
}

.rm-margin {
  margin-bottom: 1px !important;
}