.side-nav {



  background: #0F3B5F; /*#3d72b4;*/ /* fallback for old browsers */
/*  background: -webkit-linear-gradient(to left, #e2e0e0 , #3d72b4);*/ /* Chrome 10-25, Safari 5.1-6 */
/*  background: linear-gradient(to left, #e2e0e0 , #3d72b4);*/ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;

}

.side-nav a {
  color: #fff;
}

.per-det {
  padding-bottom: 5px;
}

.per-det i {
  color: #64b3f4;
}

.device-reading {
  height: 290px !important;
  overflow-y: scroll;
}

.online-device {
  color: green;
}

.header-wrap {
  padding-top: 21px;
}

.nav-wrapper {
  position: relative;
  background:#FF9900; /* fallback for old browsers */
  height: 100%;
  color: black !important;
}

nav .nav-wrapper {
  position: relative;
  height: 100%;
}

.main-wrapper {
  padding-top: 35px !important;
}

@media only screen and (max-width : 992px) {
  .nav-wrapper {
    width: 100%;
    text-align: center;
  }

  header, main{
    padding-left: 0px !important;
  }
}

#data-analysis, #reports-page, #regression-page{
  display: none;
}

.top-nav {
  height: 122px;
  background:#FF9900; /* fallback for old browsers */  
}

nav.top-nav a.page-title {
    line-height: 122px;
    font-size: 48px;
}

header, main{
  padding-left: 300px;
}

a.button-collapse.full {
    line-height: 122px;
}

a.button-collapse {
    position: absolute;
    text-align: center;
    height: 48px;
    width: 48px;
    left: 7.5%;
    top: 0;
    float: none;
    margin-left: 1.5rem;
    color: #fff;
    font-size: 36px;
    z-index: 2;
}

#error-tag-regression {
  color: #ee6e73;
}

.error-tag {
  color: #ee6e73;
  display: none;
}

